<!DOCTYPE html>
<html>
    <head>
        <title>Select a scene</title>
        <!-- link rel="stylesheet" href="/css/client.css" / -->
    </head>
    <body style="background: #3cff00" onload="makeimageclickable()">
        <center>
        <img src="../Cognimeet_Assets/Login/Group 2302.png" width="500px" />
        <h1>Available Scenes</h1>
        <h4 width="100%"> ---------------------------------------------- </h4>
        <div>
            <% items.forEach(function(image) { %>
            <div>
                <div>
                    <img id="dbscenes" class="dbscenes" src="data:image/<%=image.img.contentType%>;base64,
                        <%=image.img.data.toString('base64')%>" width="50%" height="50%" alt="<%= image.name %>"> <!-- onclick="setbgfromimg(this.src)" -->
                    <div>
                        <h5><%= image.name %></h5>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        </center>
        <script>
            let isImgDivOpen = false;
            let all_images = document.querySelectorAll('.dbscenes');

            function makeimageclickable() {
                for (let i = 0; i < all_images.length; i++) {                 
                    all_images[i].addEventListener('click', (e) => {
                    console.log(all_images[i])
                    var text = all_images[i].alt;
                    var imgdatabs64 = all_images[i].src;
                    let selectedImg = text;
                    localStorage.setItem(''+selectedImg, imageData);
                    document.body.style.backgroundImage = `url('../uploads/${selectedImg}')`;
                    document.body.style.backgroundSize = "cover"
                    isImgDivOpen = false;
                    });
                }
                isImgDivOpen = !isImgDivOpen;
            }
        </script>
    </body>
</html>

<!-- This file displays all the files present in the database and also make them clickable which currently changes the background image of the body.-->