<head>
	<link rel="stylesheet" href="css/style.css">
</head>
<body style="background-image: url('Cognimeet_Assets/Login/MacBookPro-15.png');">
	<div class="container">
		<header><img src="../Cognimeet_Assets/Login/Group 2302.png" width="500px" /></header>
		<div class="login-heading">
            Signup
	   </div>
		<form action="/signup" method="POST">
			<div class="input-field">
			<input class="emailpic" type="text" name="username" placeholder="username">
			</div>

            <div class="input-field">
                <input class="emailpic" type="text" name="email" placeholder="email">
            </div>

			<div class="input-field">
			<input class="passwordpic" type="text" name="password" placeholder="password">
			</div>

            <div class="input-field">
                <input class="passwordpic" type="text" name="confirm" placeholder="confirm password">
            </div>

			<div class="button">
			<button type="submit">Signup</button>
			</div>
        </form>
    </div>
</body>

 

